body, ul, p, h1, h2{
	margin: 0;
	padding: 0;
}

body{
	min-width: 750px;
}

.header-top-canvas{
	background-color:#007765;
}

.header-top-content{
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	height: 84px;
	justify-content: space-between;
	padding-left: 55px;
	padding-right: 54px;
}

.logo{
	width: 184px;
	height: auto;
	align-self: center;
}

.nav-top{
	align-self: center;
}

.navigation{
	list-style-type: none;
	display: flex;
}

.nav-list-item{
	margin-right: 8px;
}

.nav-list-item:last-child{
	margin-right: 0px;
}

.header-bottom-canvas{
	height: 403px;
	background:black no-repeat center;
	background-image:url(../image/Header-bottom.png);
	background-size:cover;
	display: flex;
	justify-content: center;
}

h1{
	align-self: center;
}

.section-1-canvas{
	background-color: #EEEEEE;
}

.section-1-content{
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	padding: 48px 54px 92px 55px;
}

h2{
	text-align: center;
	margin-bottom: 16px;;
}

.section-2-canvas{
	height: 483px;
	background:blue no-repeat center;
	background-image:url(../image/Section-2-background.png);
	background-size:cover;
	display: flex;
	justify-content: center;
}

.section-2-content{
	max-width: 893px;
	align-self: center;
	text-align: center;
}

.section-3-canvas{
	background-color: #FFFFFF;
}

.section-3-content{
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	padding: 48px 54px 92px 55px;
}

.section-3-logo-text{
	display: flex;
	margin-bottom: 35px;
}

.PPC-Logo{
	width: 115px;
	height: 115px;
	margin-right: 48px;
}

.section-4-canvas{
	background-color: #EEEEEE;
}

.section-4-content{
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	padding: 48px 54px 30px 55px;
}

.section-4-content h2{
	margin-bottom: 56px;
}

.team-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.person-card{
	text-align: center;
	flex-basis: 33%;
	margin-bottom: 82px;
}

.person-photo{
	width: 168px;
	height: 168px;
	margin-bottom: 12px;
}

.footer-canvas{
	display: flex;
	background-color: #333333;
	height: 176px;
	justify-content: center;
	text-align: center;
}

.footer-content{
	width: 540px;
	padding-top: 48px;
}